* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    margin: 50px;
}

nav {
    background-color: #1090D81A;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
}

#nav-upper-title {
    font-weight: 700;
    font-size: 45px;
}

#nav-lower-title {
    font-weight: 500;
    font-size: 30px;
    color: #11111199;
}

.header-btn {
    background-color: #1090D8;
    border-radius: 8px;
    color: white;
    padding: 8px 38px;
    font-weight: 700;
    font-size: 20px;
    border: none;

}

.geometry-container {
    margin: 50px;
    display: flex;
    gap: 24px;

}

.geometry-components {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.geometry-component {
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    padding: 43px;
}

img {
    width: 100%;
    height: 200px;
}

.card-heading {
    font-weight: 700;
    font-size: 25px;
    margin-top: 49px;
    margin-bottom: 10px;
}

.equation {
    margin-bottom: 22px;
    color: #414141;
}

.input-area {

    background: #F1F1F1;
    border-radius: 4px;
    border: none;
    padding: 8px;
    width: 65px;
    margin-bottom: 50px;

}

.calculate-btn {
    background-color: #1090D8;
    border-radius: 8px;
    color: white;
    padding: 8px 38px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    width: 100%;
}

#pi {
    font-weight: 800;
}

.geometry-calculation {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    width: 20%;
    text-align: center;
    padding: 10px;

}
#geo-heading{
    margin-bottom: 50px;
}
.convert-btn{
    background-color: #1090D8;
    border-radius: 8px;
    color: white;
    padding: 8px ;
    font-weight: 400;
    font-size: 14px;
    border: none;
    margin-left: 10px;
}
.td-styles{
    margin-bottom: 25px;
    padding-left: 10px;
}






/* Mobile Screen */
@media only screen and (max-width: 576px) {
    nav {

        flex-direction: column;
    }

    .header-btn {
        margin-top: 20px;
    }

    .geometry-container {
        flex-direction: column;
    }

    .geometry-components {

        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }
    
    .geometry-calculation {
       
        width: 100%;
        padding: 20px;
    
    }
    
    

}

/* Tabs */

@media only screen and (min-width:577px) and (max-width: 767px) {

    .geometry-container {
        flex-direction: column;
    }

    .geometry-components {

        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .geometry-calculation { 
        width: 100%;
    }
}

/* Computers */

@media only screen and (min-width:768px) and (max-width:991px) {
    .geometry-components {

        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .geometry-calculation { 
        width: 100%;
    }
}